<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category %><%= select_tag "category", options_from_collection_for_select(@categories, "id", "name", @category_id) %>
  </div>
  <div class="field">
    <%= f.label :attr %><%= select_tag "attr", options_from_collection_for_select(@attrs, "id", "name", @attr_id) %>
  </div>
<div class="field">
    <%= f.label :school_year %><%= select_tag "school_year", options_from_collection_for_select(@school_years, "id", "name", @school_year_id) %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.kindeditor :content, :height => 400 %>
  </div>

  <div class="actions-bar">
    <%= f.submit %>
  </div>
<% end %>
