<h1>活动列表</h1>

<table class="list">
  <tr>
    <th class="th1">序 号</th>
    <th class="th2">标 题</th>
    <th class="th3">分 类</th>
    <th class="th5">创建日期</th>
    <!--th class="th6">更新日期</th-->
    <th class="th7" colspan="2">操 作</th>
  </tr>

  <% @posts.each_with_index do |post,i| %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= i+1 %></td>
      <td class="td2"><%= link_to post.title, post %></td>
      <td><%= post.category.name if not post.category.nil? %></td>
      <td><%= post.created_at.strftime('%Y年%m月%d日') %></td>
      <!--td><%= post.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td-->
      <!--td><%= link_to '显 示', post %></td-->
      <td><%= link_to '编 辑', edit_post_path(post) %></td>
      <td><%= link_to '删 除', post, confirm: '你确定删除?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= button_to ' 新 建 ', new_post_path, :method => :get %>
