<div class="post_content">

<p>
  <b>标 题:</b>
  <%= @post.title %>
</p>

<p>
  <b>分 类:</b>
  <%= @post.category.name %>
</p>

<p>
  <b>属 性:</b>
  <%= @post.attr.name %>
</p>

<p>
  <b>内 容:</b><br />
  <%= raw @post.content %>
</p>

</div>


<%= link_to '编 辑', edit_post_path(@post) %> |
<%= link_to '返 回', posts_path %>


<% content_for :sidebar do %>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post %></li>
  <% end %>
<% end %>
