<!DOCTYPE html>
<html>
  <head>
    <title>西溪小学活动存档</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1><a href="/">西溪小学活动存档</a></h1>
        <!--div id="user-navigation">
        <ul class="wat-cf">
          <li><%= link_to "首 页", root_url%></li>
        </ul>
        </div-->
      </div>

      <div id="wrapper" class="wat-cf">

        <div id="main">
          <div class="flash">
            <% flash.each do |type, message| -%>
              <div class="message <%= type %>">
                <p><%= message %></p>
              </div>
            <% end -%>
          </div>

          <%= yield %>
          <div id="footer">
            <div class="block">
              <p>Copyright &copy; <%= Time.now.year %> 西溪小学活动存档  |  Powered By Rails 3.1.1  |  Developed By Lcl</p>
            </div>      
          </div>
        </div>
        <div id="sidebar">
          <!--div class="block notice">
          <h3>Simple Block</h3>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          </div-->
          <div class="block">
            <!--h3>Links</h3-->
            <ul class="navigation">
              <li><a href="/">首 页</a></li>
              <li><a href="#">2011-2012年度第一学期</a></li>
            </ul>
          </div>
        </div>
      </div>    
    </div>
  </body>
</html>
